* {
    color: yellowgreen;
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 700;
}
h1 {
    text-align: center;
    padding: 10;
    margin: 10;
    border: 5px solid aquamarine;
}
img {
    height: 500px;
    width: auto;
  }


h1,h2,h3,h4,h5,h6 {
    font-family: fantasy 
}

  