* {
    color: yellowgreen;
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 700;
}
h1 {
    text-align: center;
}
img {
    height: 500px;
    width: auto;
  }

* {
    background-color: rgb(42, 123, 228);
}
h1,h2,h3,h4,h5,h6 {
    font-family: fantasy 
}